.faq {
  width: 100%;
  height: fit-content;

  &__title {
    text-align: center;
    padding: 1.5rem;
    background: #ca0e43;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem 0;
  }

  &__questions {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;

    &__question {
      font-size: 1.5rem;
      padding: 0.6rem;
      padding-left: 1rem;
      margin: 1rem 0;
      border-radius: 5px;
      background: #424242;
      color: white;
    }
  }

  &__who {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__p {
      font-size: 1.5rem;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      &__card {
        width: 120px;
        height: 190px;
        border: 1px solid #333;
        border-radius: 5px;
        margin: 1rem;
  
        &__img {
          width: 100%;
          // border-radius: 50%;
        }
  
        &__p {
          text-align: center;
          margin: 1rem 0;
        }
      }
    }
  }
}
