.carousel__title {
  font-size: 4rem;
}

.carousel__description {
  font-size: 1.5rem;
}

@media screen and (max-width: 500px) {
  .carousel__title {
    font-size: 2rem;
  }
  .carousel__description {
    font-size: 0.75rem;
  }
}
