$profileWidth: 110px;
$bannerHeight: 100px;

.card {
  max-width: 300px;
  width: 98%;
  height: 400px;
  box-shadow: 0px 0px 26px 2px rgba(0,0,0,0.35);
  border-radius: 8px;
  overflow: hidden;
  margin: 2rem;
  transition: all 0.2s ease-in-out;
  // background-color: #534f63;
  // color: white;
  color: #333;
  // background: linear-gradient(149deg, rgba(249,247,91,1) 0%, rgba(255,154,118,1) 100%);
  background: radial-gradient(at top,#fff 20%,#d2d2d2 100%);
  font-weight: 500;

  &__banner {
    height: $bannerHeight;
    width: 100%;
    object-fit: cover;
  }

  &__main {
    width: 100%;
    height: calc(100% - $bannerHeight);
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: calc($profileWidth / 2 + 10px);

    &__profile {
      width: $profileWidth;
      height: $profileWidth;
      border-radius: 50%;
      position: absolute;
      top: calc(-110px / 2);
      left: calc(50% - 55px);
      border: 1px solid #333;
    }

    &__title {
      font-size: 1.8rem;
      text-align: center;
    }

    &__number {
      margin: 0.3rem 0;
    }

    &__note {
      display: flex;

      &__stars {
        width: 20px;
      }
    }

    &__location {
      display: flex;
      justify-content: center;
      align-items: center;

      &__pin {
        width: 20px;
      }
    }

    &__description {
      width: 80%;
      margin: 0 auto;
      margin-top: 0.5rem;
      height: 100px;
      max-height: 100px;
      p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        text-align: center;
      }
    }

    &__more {
      text-decoration: underline;
    }

  }
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
