.artistes-page {
  width: 100%;
  height: 100vh;

  &__best {
    background-color: blanchedalmond;
    width: 90%;
    max-width: 900px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;

    &__title {
      font-size: 2.5rem;
      font-weight: 500;
      text-transform: uppercase;
      margin: 0.5rem 0;
    }

    &__container {
      width: 100%;
      margin-top: -1rem;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }


  &__from {
    margin: 3rem auto;
    width: 90%;
    max-width: 900px;
    height: fit-content;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    &__title {
      font-size: 1.8rem;
      margin: 1rem 0;
      text-align: center;
    }
    
    &__input {
      width: 200px;
      height: 40px;
      padding-left: 10px;
      margin: 1rem;
    }

    &__input--search {
      max-width: 600px;
      width: 90%;
      height: 40px;
      padding-left: 10px;
    }
  }
}

@media screen and (max-width: 410px) {
  .artistes-page__best__title {
    font-size: 1.4rem;
  }
  .artistes-page__from__title {
    font-size: 1.2rem;
  }
}
