.artistes-page {
  width: 100%;
  height: fit-content;

  &__best {
    background-color: blanchealmond;
    width: 90%;
    max-width: 900px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;

    &__title {
      font-size: 2.5rem;
      font-weight: 500;
      text-transform: uppercase;
      margin: 0.5rem 0;
    }

    &__container {
      width: 100%;
      margin-top: -1rem;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }


  &__from {
    margin: 3rem auto;
    width: 90%;
    max-width: 900px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -3px #333333ba;

    &__bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    &__title {
      font-size: 1.8rem;
      margin: 1rem 0;
      text-align: center;
    }
    
    &__input {
      width: 200px;
      height: 40px;
      padding-left: 10px;
      margin: 1rem 3rem;
      border: 1px solid #333;
      border-radius: 5px;
    }

    &__input--search {
      max-width: 600px;
      width: 90%;
      height: 40px;
      padding-left: 10px;
      border: 1px solid #333;
      border-radius: 5px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 1250px;
      margin: 0 auto;
    }

    &__nav {
      margin-top: 0.5rem;
      display: flex;
      p {
        margin: 0 0.6rem;
      }
      a {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 410px) {
  .artistes-page__best__title {
    font-size: 1.4rem;
  }
  .artistes-page__from__title {
    font-size: 1.2rem;
  }
}
