//Header

.header {
  width: 100vw;
  height: 80px;

  &__menu {
    width: 100vw;
    height: 80px;
    // background-color: rgb(228, 214, 196);
    padding-left: 0.7rem;
    padding-right: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      height: 50px;
    }

    &__burger {
      height: 35px;
    }
  }
}
