.upcomming-events {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2.5rem;
  // background: linear-gradient(117deg, rgba(249,248,113,1) 0%, rgba(255,154,118,1) 100%);
  // background: linear-gradient(90deg, rgba(231,230,235,1) 0%, rgba(199,200,203,1) 50%, rgba(184,184,184,1) 100%);
}

.upcomming-events__title {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
  background: linear-gradient(117deg, rgba(249,248,113,1) 0%, rgba(255,154,118,1) 100%);
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.upcomming-events__content {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2.5rem;
}



